.cards-hover {
    display: block;
    &:hover {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
    &:hover .portfolio-overlay {
      transform: translateY(0);
    }
    &:nth-child(3n + 0) {
      margin-right: 0;
    }
  }
  

  .corporation__section-title-client {
    text-align: center;
  
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--secondary-title-color);
  }
  
  .about-text {
    margin-top: 10px;
  }
  .header-link-page2:focus {
    font-size: 16px;
    line-height: 1.6;
  }
  
  .project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--secondary-title-color);
  }
  .project-item-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
  }
  .project-item-bottom {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
  }
  
  
  
  .web-white {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    color: var(--primary-title-color);
  }
  .cards-box__project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--secondary-title-color);
  }
  
  .cards-box__project-item-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
  }
  .cards-box__project-link {
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     &:hover .cards-box__overlay {
    text-decoration: none;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
     
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  &:focus .cards-box__overlay {
    text-decoration: none;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  }
  }
  
  
  .cards-box__project-item {
    transition-duration: 250ms;
    border: 1px solid #eeeeee;
    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      &{
        overflow: hidden;
        position: relative;
      }
    }
  }
  
 
  

  
  
  .page-header__ {
    margin-right: 94px;
  }
  
  .cards-box__overlay {
    -webkit-transform: translateY(101%);
    -ms-transform: translateY(101%);
    transform: translateY(101%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.9;
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    -o-transition: transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    color: #f5f4fa;
    padding-right: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 18px;
       &{
    display: flex;
    transform: translateY(101%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    opacity: 0.9;
    transition: transform 250ms linear;
    color: #f5f4fa;
  
    text-align: center;
    padding-right: 24px;
    align-items: center;
  }
  }
  .cards-box__portfolio-overlay {
    padding: 20px;
  }